$xxxs: "only screen and (max-width: 320px)";
$xxs: "only screen and (max-width: 500px)";
$xs: "only screen and (max-width: 768px)";
$sm: "only screen and (max-width: 992px)";
$md: "only screen and (max-width: 1200px)";
$lg2: "only screen and (max-width: 1300px)";
$lg: "only screen and (max-width: 1400px)";
$llg: "only screen and (max-width: 1600px)";

// $main: #c3a01b;
$main: #a50404;
$btn: #a50404;
$light-blue: #fafbfe;
$head: #320e1c;
$black: #414141;
$gray: #e6e6e6;
$p: #414141;
