.uslugi-car-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  .col {
    width: 25%;
    @media #{$md} {
      width: 33.33%;
    }
    @media #{$xs} {
      width: 50%;
    }
    @media #{$xs} {
      width: 50%;
    }
    @media #{$xxs} {
      width: 100%;
    }

    &:first-child {
      width: 50%;
      align-self: center;
      @media #{$md} {
        width: 66.66%;
      }
      @media #{$sm} {
        width: 100%;
      }
      @media #{$xs} {
        width: 100%;
      }
    }
  }

  //   .con-uslugi
}

.uslugi-widget {
  .wrap {
    text-align: center;
    position: relative;
    @include trans;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 34px 5px rgba(51, 51, 51, 0.05);
    overflow: hidden;
    &:hover {
      transform: translatex(10px);
      box-shadow: 0 0 34px 5px rgba(102, 70, 70, 0.15);
      border-radius: 10px;
      a {
        color: $main !important;
      }
    }
    h2 {
      // position: absolute;
      // top: 50%;
      /* left: 50px; */
      z-index: 2;
      // transform: translate(0%, -50%);
      width: 100%;
      min-height: inherit;
      a {
        font-size: 1rem;
        padding: 10px;
        color: $head;
      }
    }
    .thumbnail {
      img {
        opacity: 0.9 !important;
        display: block;
        width: 100%;
        height:auto!important;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }
}

.uslugi-car {
  .btn-group {
    padding: 20px;
  }
}
